@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
$main-font: 'Poppins', sans-serif;
$topbar-black-color: #262626;
$hr-color: #FAFAFB;
$navbar-color: #22262A;
$navbar-border-color: #BCDDFE;
$white-color: #fff;
$navbar-btn-bg-color: #3372ff;
$popup-border-color: #F1F3F4;
$nav__popup-content: #C1C8CE;
$store__list-box-content: #223263;
$store__list-box-sale: #9098B1;
$store__list-box-sale-color: #FB7181;
$header__list-li: #33A0FF;
$header__list-body-content: #F6F7F8;
$header__list-popup-border: #F0F6FA;
$featured__product-item-price: #FF4858;
$navbar-media-border-color: #EBF0FF;
$black-color: #000;
$cart__item-del: #FF6875;